{$DOMAIN} {
	basic_auth {
		admin $2a$14$8pnfxsg2juUKA4x8RIuH2eY.q3CgSGq0HGD6skTwVOyKS1oh0i0kC
	}

	redir /db /db/
	handle /db/* {
		reverse_proxy dbgate:3000
	}

	handle {
		reverse_proxy web:3000
	}
}
